.not-allowed{
	border: 1px solid #ff1919!important;
}
.invisible{
	display: none;
}

body{
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
}

.centralized{
	text-align: center;
}

.left-position{
	text-align: left;
}

.gray-border{
	padding: 5%;
	border: 1px solid #C4C4C42E;
	border-radius: 5px;
	margin: 1%;
}
.gray-border:hover{
	border: 1px solid #C4C4C4;
	transition: 0.2s;
}