.not-allowed{
	border: 1px solid #ff1919!important;
}
.invisible{
	display: none;
}

body{
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
}

.meddium-text{

}

.centralized{
	text-align: center;
}

.left-position{
	text-align: left;
}