/* The map search options */
.master-div{
	display: flex;
}
.left-options{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-right: 30px;
	background: #FFFFFF;
	margin-left: 1%;
}
.left-options>*{
	background: #FFFFFF;
}
.right-options{
	width: 80%;
}
#real-time-map{
	width: 100%;
	height: 400px;
}
.search-icon{
	width: 5%;
}
.waze-searcher-hidder{
	position: absolute;
	width: 100%;
	background: gray;
}
/* the left side*/
.left-filter-top{
	background: rgba(0, 0, 0, 0.67);
	color: #ffffff;
	height: 40px;
	border-radius: 5px;
}
/* the right side*/
.upper-filter{
	display: flex;
	width: 100%;
	height: 10%;
	background: #FFFFFF;
	justify-content: space-between;
	border-radius: 5px 5px 0 0;
}
/* the km meters at pannel */
.distance-meter{
	display: flex;
	justify-content: space-around;
}
.km-calculator{
	width: 50px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	border: 0.2px solid #C4C4C4;
	margin-right: 5px !important;
}
.km-simbol{
	margin: unset;
	margin-top: 4px;
	color: #C4C4C4;
}
.km-wrapper{
	display: flex;
}
/* right menu top, filter and search bar */
.upper-filter>h5{
	width: auto;
	margin: auto;
}
.upper-filter>select{
	border: 1px solid #C4C4C4;
	height: 30px;
	border-radius: 5px;
	width: 20%;
	margin: auto;
	-moz-appearance: none; /* for Firefox */
	-webkit-appearance: none;/* for Chrome */
}
.upper-filter>select::-ms-expand {
    display: none;/* For IE10 */
}
.upper-filter>input{
	border: 1px solid #C4C4C4;
	height: 25px;
	border-radius: 5px;
	width: 60%;
	margin: auto;
}
/* related to the map */
.map{
	height: 100%;
	width: 100%;
}
.map-wrapper{
	width: 100%;
}

/* The divider */
.divider{
	width: 100%;
	height: 1px;
	background: #C4C4C4;
	margin-left: 0!important;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* km meters slider */
.slidecontainer {
    width: 80%; /* Width of the outside container */
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px;
}
/* Mouse-over effects */
.slider:hover {
	    opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: rgba(218, 221, 90, 0.78); /* Green background */
    cursor: pointer; /* Cursor on hover */
	border-radius: 10px;
}
.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px;
}
/* The range slider at map distance meter */
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      -webkit-appearance: none;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: rgba(218, 221, 90, 0.78);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: green;
      box-shadow: -80px 0 0 80px rgba(0, 0, 0, 0.33);
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: rgba(218, 221, 90, 0.78);
}
input[type="range"]::-moz-range-track {  
  background-color: rgba(0, 0, 0, 0.33);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgba(218, 221, 90, 0.78); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: rgba(0, 0, 0, 0.33);
}

/* Map legend */
.map-legend{
	display: flex;
	justify-content: space-around;
	background: #FFF;
	height: 10%;
	border-radius: 0 0 5px 5px;
}
.map-legend > li {
	display: flex;
	justify-content: center;
	margin: auto;
}
.map-legend-item{
	width: 33%;
}
.map-legend-item > div{
	width: 15px;
	height: 15px;
	margin-right: 5%;
	border-radius: 50%;
}

.reLocateMe{
	display: flex;
	justify-content: center;
	margin-top: 1%;
}
.reLocateMe > div{
	width: 20%;
	padding: 2%;
	background: #FFF;
	border-radius: 5px;
	text-align: center;
}

/* role related css*/
.roles-options{
	display: flex;
	flex-direction: column;
}
.option-of-role{
	margin: 5%;
}
/* Best professional announcement */
.best-professional-group{
	background: #F0F0F0;
}
.professional-card{

}
.professional-data{
	
}

/* All professionals (end of map page) related css */
.all-professionals-section{
	margin-top: 10%;
}
.all-professionals-title > h5{
	padding: 1%;
	background: rgba(0, 0, 0, 0.67);
	border-radius: 5px;
	color: #ffffff;
	font-size: 2em;
	text-align: center;
}
.roles-cards{
	display: flex;
	width: 95%;
	justify-content: space-around;
	margin: auto;
	padding: 1%;
}
.card-of-role{
	background: #FFF;
	width: 10%;
	text-align: center;
	border-radius: 5px;
	padding: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.card-of-role > img{
	width: 50%;
	margin: auto;
}
.card-of-role > a{
	margin-top: 10%;
}